* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: #333;
  text-decoration: none;
}

ul, ol, li {
  list-style: none;
}

#wrap {
  width: 1250px;
  height: auto;
  border-left: 1px solid #dfdfdf;
  border-right: 1px solid #dfdfdf;
  margin: 0 auto;
}

#book {
  display: flex;
  align-items: center;
  width: 1250px;
  height: 407px;
  margin: 0 auto;
  border-bottom: 12px solid #f7f7f7;
}
#book .book {
  width: 220px;
  height: 331px;
  margin-left: 20px;
  box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.1), 16px 10px 23px 0 rgba(0, 0, 0, 0.1);
}
#book .book img {
  width: 100%;
  height: 100%;
}
#book .book_intr {
  width: 900px;
  height: 331px;
  margin-left: 40px;
}
#book #buttons {
  width: 300px;
  display: flex;
  justify-content: space-around;
  cursor: pointer;
}
#book #buttons p {
  color: #333;
}
#book #buttons li {
  width: 90px;
  height: 36px;
  background-color: rgba(176, 179, 188, 0.2);
  color: #8b8b8b;
  margin: 0px 0px 20px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 2px 0px 2px 0px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1), 2px 4px 12px 0 rgba(0, 0, 0, 0.1);
  border-radius: 40px;
  font-size: 14px;
  font-weight: 500;
}
#book #buttons .active {
  background-color: white;
}
#book .textbox {
  width: 300px;
  height: 70px;
  margin-top: 30px;
  margin-bottom: 85px;
}
#book .textbox span {
  color: #888888;
}
#book .textbox p {
  font-weight: 700;
  font-size: 20px;
}
#book #read-more {
  width: 900px;
  height: 90px;
  background-color: #fafaf6;
  border-radius: 12px;
  position: relative;
}
#book #read-more li {
  display: flex;
  justify-content: center;
  align-content: center;
  height: 100%;
  align-items: center;
  width: 300px;
}
#book #read-more li p {
  font-size: 10px;
  color: #8b8b8b;
  line-height: 17px;
  text-align: center;
  margin-top: 2px;
}
#book #read-more li span {
  font-weight: 700;
  color: #242424;
}
#book #read-more .border {
  border-left: 2px solid;
  color: #dfdfdf;
  border-right: 2px solid;
}
#book #read-more {
  display: flex;
  padding: 10px 0;
}
#book #read-more #imgflex {
  display: flex;
  flex-wrap: wrap;
}
#book #read-more #imgflex img {
  width: 20px;
  height: 20px;
}

#booktotal {
  width: 100%;
  height: auto;
  padding-bottom: 50px;
}
#booktotal .booktotal {
  width: 1250px;
  height: 630px;
  margin: 0 auto;
  overflow: hidden;
}
#booktotal .booktotal h3 {
  padding-left: 20px;
  font-size: 16px;
  color: #000000;
  margin-top: 13px;
}
#booktotal .booktotal ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  padding-top: 30px;
  padding-left: 20px;
}
#booktotal .booktotal ul li {
  width: 180px;
  height: 300px;
}
#booktotal .booktotal ul h6 {
  font-size: 14px;
  color: #6f6f6f;
  margin-top: 3px;
}
#booktotal .booktotal ul h3 {
  font-size: 16px;
  color: #000000;
  margin-top: 3px;
  padding-left: 7px;
}
#booktotal .more {
  color: #a451f7;
  font-size: 14px;
  cursor: pointer;
  border: 0;
  background-color: transparent;
  outline: 0;
  width: 100%;
  text-align: center;
  border-bottom: 12px solid #f7f7f7;
  padding: 11px;
}

#book-history {
  width: 1250px;
  height: 330px;
  margin: 0 auto;
}
#book-history #chart-content {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 20px 30px 0 27px;
  align-items: center;
}
#book-history #chart-content .inner {
  width: 362px;
  height: 242px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  border: 1px #dfdfdf solid;
}
#book-history #chart-content .inner .his-modal {
  padding: 20px;
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.12), 2px 6px 12px rgba(0, 0, 0, 0.12);
  position: absolute;
  top: -10px;
  left: 0px;
  width: 296px;
  height: 200px;
  z-index: 10;
  display: none;
}
#book-history #chart-content .inner .his-modal .header strong {
  display: block;
  font-size: 16px;
}
#book-history #chart-content .inner .his-modal .header button {
  position: absolute;
  right: 10px;
  top: 10px;
  background: url(https://d3udu241ivsax2.cloudfront.net/v3/images/bookDetail/x-close.f829955e572734d4ff88ec5e71c8efb0.png) 0 0 no-repeat;
  background-size: 24px;
  display: block;
  text-indent: -99999em;
  width: 24px;
  height: 24px;
  border: none;
}
#book-history #chart-content .inner .his-modal .header .desc {
  color: #6f6f6f;
  font-size: 14px;
  margin-top: 4px;
}
#book-history #chart-content .inner .his-modal .header #list {
  margin-top: 4px;
}
#book-history #chart-content .inner .his-modal .header #list div {
  position: relative;
  color: #6f6f6f;
  font-size: 10px;
  padding: 0 0 0 10px;
  margin-top: 2px;
  border: none;
}
#book-history #chart-content .inner #inner-outtext {
  font-size: 12px;
  color: #8b8b8b;
  font-weight: bold;
  position: absolute;
  width: 100%;
  height: 100%;
}
#book-history #chart-content .inner li:nth-child(1) {
  position: absolute;
  top: 2px;
  left: -24px;
  transform: rotate(-90deg);
  width: 28px;
}
#book-history #chart-content .inner li:nth-child(2) {
  position: absolute;
  top: 100px;
  left: -70px;
  width: 110px;
  transform: rotate(-90deg);
}
#book-history #chart-content .inner li:nth-child(3) {
  position: absolute;
  bottom: -20px;
  left: -24px;
  width: 28px;
}
#book-history #chart-content .inner li:nth-child(4) {
  position: absolute;
  bottom: -24px;
  left: 37%;
  width: 107px;
}
#book-history #chart-content .inner li:nth-child(5) {
  position: absolute;
  bottom: -24px;
  right: 0;
  width: 28px;
}
#book-history #chart-content .box {
  width: 50%;
  height: 50%;
  display: flex;
  justify-content: flex-end;
  color: rgb(223, 223, 223);
  padding: 7px;
  font-size: 32px;
  font-weight: 700;
  border-bottom: 1px #dfdfdf solid;
}
#book-history #chart-content .box:nth-child(1) {
  justify-content: flex-start;
  border-right: 1px #dfdfdf solid;
}
#book-history #chart-content .box:nth-child(3) {
  justify-content: flex-start;
  align-items: flex-end;
  border-right: 1px #dfdfdf solid;
}
#book-history #chart-content .box:nth-child(4) {
  position: relative;
  justify-content: flex-end;
  align-items: flex-end;
  background: linear-gradient(135deg, rgba(79, 192, 104, 0.1) 0%, rgba(79, 192, 104, 0) 100%);
  color: rgba(79, 192, 104, 0.5);
}
#book-history #chart-content .box:nth-child(4) .doubleone {
  position: absolute;
  top: 25%;
  left: 4%;
  width: 25px;
  height: 25px;
  background-color: white;
  border-radius: 80px;
  border: solid 6px rgb(79, 192, 104);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.16), 4px 8px 28px rgba(0, 0, 0, 0.08);
}

#text {
  width: 160px;
  height: 27px;
  margin-left: 27px;
}
#text .textbutton {
  display: flex;
  width: 100%;
  height: 100%;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  background-color: transparent;
  border: transparent;
  cursor: pointer;
}

.char-story {
  display: flex;
  width: 820px;
  height: 270px;
  width: 805px;
  height: 242px;
}
.char-story .title {
  color: rgb(79, 192, 104);
  width: 800px;
  height: 20px;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.char-story .title .mania {
  font-weight: bold;
  border-right: 1px solid #dfdfdf;
  font-size: 14px;
  position: relative;
  padding-right: 5px;
  margin-right: 5px;
}
.char-story .title .avg {
  font-size: 12px;
  padding-left: 5px;
}
.char-story ul {
  width: 97%;
}
.char-story ul .top {
  height: 102px;
  padding: 15px 0px 0px 27px;
  border-radius: 30px;
  border: 1px #dfdfdf solid;
}
.char-story ul .bottom {
  border-radius: 30px;
  border: 1px #dfdfdf solid;
  height: 130px;
  margin-top: 10px;
}

.percent,
.time {
  color: #8b8b8b;
  display: flex;
  align-items: center;
  font-size: 14px;
}
.percent img,
.time img {
  width: 20px;
  height: 20px;
}
.percent .line-desc,
.time .line-desc {
  border-right: 1px solid #dfdfdf;
  position: relative;
  padding-right: 5px;
  margin-right: 5px;
  font-weight: bold;
  font-size: 13px;
}
.percent p,
.time p {
  font-size: 11px;
}

.bottom {
  padding: 20px 30px 0 27px;
  line-height: 22px;
}
.bottom ul li {
  display: flex;
  font-size: 13px;
  color: #8b8b8b;
}
.bottom ul li p {
  font-size: 14px;
  font-weight: bold;
  color: #8b8b8b;
  border-right: 1px solid #dfdfdf;
  position: relative;
  padding-right: 5px;
  margin-right: 5px;
}

.intro {
  height: auto;
  width: 1250px;
  margin: 0 auto;
}
.intro .open {
  height: 200px;
  width: 100%;
  padding: 0px 26px;
  transition: height 0.3s ease;
}
.intro .open .textbox {
  height: 160px;
  overflow: hidden;
}
.intro .open h3 {
  font-weight: 700;
  font-size: 16px;
  margin-bottom: 12px;
}
.intro .open span {
  color: #555;
  font-size: 14px;
  font-weight: 700;
}
.intro .open p {
  font-size: 13px;
}
.intro .more-position {
  position: relative;
}
.intro .more-position .more {
  color: #a451f7;
  background-color: transparent;
  border: none;
  position: absolute;
  bottom: 0;
  right: 30px;
  cursor: pointer;
}
.intro ul {
  background-color: #fafaf6;
  width: 1250px;
  height: 100px;
  display: flex;
  margin: 34px 0;
}
.intro ul li {
  border-right: 1px #dfdfdf solid;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 100px;
}
.intro ul li p {
  color: #8b8b8b;
  font-size: 12px;
  margin-bottom: 14px;
}
.intro ul li strong {
  color: #555;
  font-size: 15px;
}
.intro #keyword {
  width: 1250px;
  height: 100px;
  padding: 25px 25px;
  border-bottom: 1px #dfdfdf solid;
}
.intro #keyword h3 {
  font-weight: 700;
  font-size: 16px;
  margin-bottom: 12px;
}
.intro #keyword p {
  border-radius: 15px;
  background-color: #dfdfdf;
  width: 55px;
  height: 25px;
  text-align: center;
  padding: 3px;
  font-size: 14px;
}
.intro #AI {
  width: 1250px;
  height: 146px;
  padding: 25px 25px;
  border-bottom: 1px #dfdfdf solid;
}
.intro #AI p {
  font-size: 14px;
  color: #555;
}
.intro #AI h3 {
  font-weight: 700;
  font-size: 16px;
  margin-bottom: 12px;
}
.intro #AI #altts {
  width: 100px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  font-size: 14px;
  font-weight: bold;
  color: #555;
}
.intro #AI #altts .one-icon {
  overflow: hidden;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.intro #AI #altts .one-icon img {
  width: 100%;
  height: 100%;
  width: 50px;
  height: 50px;
  border-radius: 40px;
}
.intro #YP {
  display: flex;
  justify-content: space-between;
  width: 1250px;
  padding: 25px 25px;
  border-bottom: 12px solid #f7f7f7;
}
.intro #YP #flex {
  width: 120px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.intro #YP #flex p {
  font-size: 14px;
}
.intro #YP .YP {
  width: 36px;
  height: 36px;
  overflow: hidden;
}
.intro #YP .YP img {
  width: 100%;
}
.intro .yp-link {
  color: #8b8b8b;
  font-size: 13px;
}

#review-com {
  padding-left: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 1250px;
  margin: 0 auto;
  height: 520px;
}
#review-com #review {
  width: 100%;
  height: 100%;
  margin-top: 20px;
}
#review-com #review #comment {
  width: 1250px;
  padding: 10px 0;
}
#review-com #review #comment .flex {
  display: flex;
  align-items: baseline;
  width: 100%;
  justify-content: space-between;
}
#review-com #review #comment li {
  width: 96.5%;
  margin-bottom: 20px;
}
#review-com #review #comment li .icon-and-id {
  display: flex;
  align-items: center;
  width: 260px;
  height: 30px;
  font-size: 13px;
}
#review-com #review #comment li .icon-and-id p {
  margin-left: 10px;
}
#review-com #review #comment li .img-radius {
  overflow: hidden;
  width: 30px;
  height: 30px;
  border-radius: 40px;
}
#review-com #review #comment li .img-radius img {
  width: 100%;
}
#review-com #review p {
  color: #878787;
  font-weight: bold;
}
#review-com #review .riview-link {
  width: 98.4%;
  display: flex;
  align-items: center;
  height: 7%;
  justify-content: space-between;
  font-weight: bold;
}
#review-com #review .riview-link .icon-right {
  transform: rotate(-90deg);
}
#review-com #review .riview-link span {
  color: orange;
  font-weight: bold;
}
#review-com .data-comment-like {
  display: flex;
  flex-direction: column;
  padding: 0px 38px;
  width: 350px;
  font-size: 12px;
}
#review-com .data-comment-like a {
  margin: 5px 0px 5px 0px;
}
#review-com .data-comment-like span {
  color: #8b8b8b;
  font-size: 10px;
}
#review-com .inner {
  display: flex;
  align-items: center;
}
#review-com .inner button {
  background-color: #c1c1c1;
  width: 70px;
  height: 65px;
  border-radius: 5px;
  color: white;
  font-size: 17px;
  margin-left: 10px;
  border: none;
}
#review-com .inner .img-icon {
  overflow: hidden;
  width: 30px;
  height: 30px;
  border-radius: 40px;
  margin-right: 10px;
}
#review-com .inner .img-icon img {
  width: 100%;
  height: 100%;
}
#review-com .inner label {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 12px;
  width: 1086px;
  border: solid 1px #dfdfdf;
  border-radius: 5px;
  padding: 10px;
}
#review-com .inner label .label {
  padding-bottom: 5px;
  color: #8b8b8b;
}
#review-com .inner #textarea {
  font-size: 15px;
  font-weight: bold;
  background-color: white;
  resize: none;
  width: 1070px;
  height: 25px;
  border: none;
  outline: none;
}
#review-com .inner #textarea::-moz-placeholder {
  color: #dfdfdf;
}
#review-com .inner #textarea::placeholder {
  color: #dfdfdf;
}
#review-com #create-guide {
  width: 1250px;
  height: 20px;
  margin: 0 auto;
  font-size: 15px;
  padding-top: 20px;
  color: #a5a5a5;
}
#review-com #create-guide li {
  display: flex;
  align-items: center;
}

#banner {
  margin: 0 auto;
  width: 1250px;
  height: 100px;
  background-color: rgb(202, 133, 82);
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#banner .textbox {
  color: white;
  font-size: 14px;
  width: 280px;
  line-height: 25px;
}
#banner .banner {
  display: flex;
}

#user-contain-book {
  width: 1250px;
  margin: 0 auto;
  padding: 25px;
  overflow: hidden;
}
#user-contain-book .user-contain-book ul {
  width: 110%;
  margin-top: 20px;
  display: flex;
}
#user-contain-book .user-contain-book ul li {
  margin-right: 10px;
}
#user-contain-book .user-contain-book ul li img {
  width: 150px;
  margin-bottom: 10px;
}
#user-contain-book .user-contain-book ul li h4 {
  font-size: 14px;
  margin-bottom: 5px;
}
#user-contain-book .user-contain-book ul li h6 {
  color: #6f6f6f;
}

@font-face {
  font-family: "SpoqaHanSansNeo-Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: "SpoqaHanSansNeo-Regular";
}

header {
  cursor: pointer;
  border-bottom: solid 1px #dfdfdf;
  width: 100%;
  height: 64px;
}
header #headersize {
  width: 1250px;
  height: 64px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.5px solid #dfdfdf;
  padding-right: 20px;
}
header #headersize nav {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  padding: 10px;
  margin-right: 50px;
}
header #headersize ul {
  display: flex;
  justify-items: space-evenly;
  width: 450px;
  height: 25px;
  justify-content: space-evenly;
  padding: 0px 24px;
}
header #headersize ul li {
  font-size: 16px;
  color: #242424;
  padding: 0px 10px 0px 10px;
  font-weight: bold;
}
header #headersize ul li:hover {
  cursor: pointer;
}
header #headersize button {
  cursor: pointer;
  background: #333;
  border-radius: 100px;
  padding: 5px 15px;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: -0.6px;
  color: #fff;
  text-align: center;
  width: 93px;
  height: 31px;
  font-size: 12px;
}
header #headersize #join {
  display: flex;
  width: 154px;
  align-items: center;
  justify-content: space-around;
  margin-right: 15px;
}
header #headersize .logo {
  padding-left: 20px;
}
header #headersize .logo img {
  width: 56px;
  height: 24px;
}