@charset "utf-8";

#audioview{
    width: 100%;
    height: 1150px;
    background-color: #f7f7f7;
    position: relative;

    #top_tab{
        width: 100%;
        height: 108px;
        background-color: #fff;
        ul{
            width: 1200px;
            height: 100%;
            display: flex;
            align-items: center;
        
            margin: 0 auto;
            .active{
                background-color: #f7f7f7;

            }
            li{width: 50%;
                height: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                font-size: 14px;
                cursor: pointer;
                font-weight: 900;
                img{
                    width: 25px;
                    height: 25px;
                   margin-bottom: 5px;
                }
                
            }
        }
   }
}
.audio_wrap {
    width: 1200px;   
    
    margin: 0 auto;
   position: relative;
    .introduce {
        display: flex;
        position: absolute;
        top: 97px;
        left: 0;
        &:not(:first-of-type){display: none;}
        .audio-textbox {
            
            h2 {
                font-size: 49px;

            }

            p {
                font-size: 22px;
                color: #555555;
            }
        
            #slidewrap {
                width: 100%;
                height: 300px;
                margin-top: 200px;
              
                position: relative;

                .slidetext{
                    position: absolute;top: 0; left: 0;

                    &:not(:first-of-type){display: none;}
                }


            }
            .audio-text{
                height: 250px;
               
                width: 825px;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                
            }
            }

    }

    .swiper-wrapper {
        // width: 350px;
        // overflow: hidden;
        // position: relative;

        img {
            width: 100%
        }
    }

    video {
        width: 100%;
    }

    .swiper {
        width: 330px;
        height: 680px;
      }
      #phonewrap{
        // background-image: url(https://d3udu241ivsax2.cloudfront.net/v3/images/brand/mark-230726@2x.3223b74de55af8394116647e03fd233d.png); 
        overflow: hidden; width: 370px; height: 721px;
       border: 20px solid white; border-radius: 60px;
    background-color: white;   box-shadow: 5px 5px 5px #eee;   }
       .mySwiper1{border-radius: 20px;}
      .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        

        
        
      }
  
      .swiper-slide img {
    
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      .page1,.page2{ position: absolute;
        top: 108px;
        text-align: left;}
      .swiper-pagination-bullet {
       
        width: 45px;
        height: 26px;
        text-align: center;
        line-height: 25px;
        border-radius: 15px;
        font-size: 14px;
        color: white;
        opacity: 1;
        background: rgba(0, 0, 0, 0.2);
      }
  
      .swiper-pagination-bullet-active {
        color: #fff;
        background: #242424;

      }
    // .slidetext{display: none;}
}