@charset "utf-8";
#section3{
    width: 100%;
    height: 1050px;
    background-color: #fff;
    padding: 80px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    h2{font-size: $h2_fs;
    color: #242424;
    text-align: center;
    }
    p{
        font-size: $p_fs;
        color: #555;
        text-align: center;}
        #title-box{
    @include wh($w:100%,$h:240px);
 display: flex;
   
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 60px;
        }
        #bookimages{
            width: 100%; overflow: hidden; height: 700px;
            @include padding($top:40px);

            .book1{background-image: url(https://d3udu241ivsax2.cloudfront.net/v3/images/brand/slide01.a7cc998bd9e966d0d94956bef997e0c8.png);
                background-size: 3000px;
               
                @include wh($w:100%,$h:200px);
                background-repeat: repeat-x;
             }
             .book2{background-image: url(https://d3udu241ivsax2.cloudfront.net/v3/images/brand/slide02.49dff390b1caebf4be084582e573d26f.png);
                background-size: 3000px;
                @include wh($w:100%,$h:200px);
                background-repeat: repeat-x;
             }
             .book3{background-image: url(https://d3udu241ivsax2.cloudfront.net/v3/images/brand/slide03.2246c95c20916dc665da8a84af1cd2ad.png);
                background-size: 3000px;
                @include wh($w:100%,$h:200px);
                background-repeat: repeat-x;
             }

        }
}