@charset "utf-8";
#review_bg{

    #reviewsize{
        position: relative;
        width: 1440px;  
        height: 100%;
        display: flex;
       

      
    align-items: center;

    margin: 0 auto;
    }
    .textbox{
        position: absolute;
       right: 200px;
        h2{
            font-weight: 700;
            font-size: 49px;
            line-height: 130%;
            letter-spacing: -.01em;
            color: #242424;
            margin-bottom: 24px;
        }
        p{
            font-size: 22px;
        line-height: 160%;
        letter-spacing: -.6px;
        color: #555;
        }
    }
    width: 100%; height: 500px;
   
background-image: url(https://d3udu241ivsax2.cloudfront.net/v3/images/brand/review-bg.7113d143354a257d6ddad264072b913e.png);
#bg-re{
    
  position: absolute;    left: 80px;
  top: -60px;
    width: 415px; height: 415px; 
    
}
}