@charset "UTF-8";

#wrap{ width: 1250px; height: auto;
    border-left: 1px solid #dfdfdf;
    border-right: 1px solid #dfdfdf;
    margin: 0 auto; 
    
}
#book {
    display: flex;
    align-items: center;
    width: 1250px;
    height: 407px;
    
    margin: 0 auto;

    .book {
        width: 220px;
        height: 331px;
        margin-left: 20px;
        img{width: 100%; height: 100%;}
        box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.1), 16px 10px 23px 0 rgba(0, 0, 0, 0.1);
    }

    .book_intr {
        width: 900px;
        height: 331px;

        margin-left: 40px;
    }

    #buttons {
        width: 300px;
        display: flex;
        justify-content: space-around;
       cursor: pointer;
       p{
         color: #333;
       }
        li {
            width: 90px;
            height: 36px;
            background-color: rgba(176, 179, 188, 0.2);
            color: #8b8b8b;
            margin: 0px 0px 20px;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            padding: 2px 0px 2px 0px;
            box-shadow: 0 0 4px 0 rgba(0, 0, 0, .1), 2px 4px 12px 0 rgba(0, 0, 0, .1);
            border-radius: 40px;
            font-size: 14px;
            font-weight: 500;
        }
        // li:hover{background-color: white;}
        .active{
            background-color: white
        }
      
    }

    .textbox{width: 300px;  height: 70px;
    margin-top: 30px; margin-bottom: 85px;
span{color:#888888;}
p{font-weight: 700; font-size: 20px; }
}
    #read-more{
        width: 900px; height: 90px; background-color: #fafaf6;     border-radius: 12px; position: relative;
    li{ display: flex;
        justify-content: center;
        align-content: center;
        height: 100%;
        align-items: center;
        width: 300px;
        p{font-size: 10px;
            color: #8b8b8b;
            line-height: 17px;
            text-align: center;
            margin-top: 2px;}
        span{font-weight: 700; color: #242424;}
    }
    .border{border-left: 2px solid; color: #dfdfdf;
        border-right: 2px solid;  }
    }   
    #read-more{ display: flex; padding: 10px 0;
        #imgflex{display: flex; flex-wrap: wrap; 
        img{width: 20px; height: 20px;}}
        
 
    }

    border-bottom: 12px solid #f7f7f7}
