@charset "utf-8";

#book-history {
    width: 1250px;
    height: 330px;
    margin: 0 auto;

    #chart-content {
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        padding: 20px 30px 0 27px;
        align-items: center;

        .inner {
            width: 362px;
            height: 242px;
            position: relative;
            display: flex;
            flex-wrap: wrap;
            border: 1px #dfdfdf solid;

            #inner-outtext {
                font-size: 12px;
                color: #8b8b8b;
                font-weight: bold;
                position: absolute;
            }

            li:nth-child(1) {
                position: absolute;
                top: 2px;
                left: -24px;
                transform: rotate(-90deg);
                width: 28px;
               
            }

            li:nth-child(2) {
                position: absolute;
                top: 100px;
                left: -70px;
                width: 110px;
                transform: rotate(-90deg);}

            li:nth-child(3) {
                position: absolute;
                left: -25px;
                bottom: -260px;
                width: 28px;}

            li:nth-child(4) {
                position: absolute;
                bottom: -260px;
                left: 128px;
                width: 107px;}

            li:nth-child(5) {
                position: absolute;
                bottom: -260px;
                right:-360px;
                width: 28px;}
            }

        .box {
            width: 50%;
            height: 50%;
            display: flex;
            justify-content: flex-end;
            color: rgb(223, 223, 223);
            padding: 7px;
            font-size: 32px;
            font-weight: 700;
            border-bottom: 1px #dfdfdf solid;}

        .box:nth-child(1) {
            justify-content: flex-start;
            border-right: 1px #dfdfdf solid;}

        .box:nth-child(3) {
            justify-content: flex-start;
            align-items: flex-end;
            border-right: 1px #dfdfdf solid;}

        .box:nth-child(4) {
            position: relative;
            justify-content: flex-end;
            align-items: flex-end;
            background: linear-gradient(135deg, rgba(79, 192, 104, 0.1) 0%, rgba(79, 192, 104, 0) 100%);

            color: rgb(79, 192, 104, 0.5);

            .doubleone {
                position: absolute;
                top: 25%;
                left: 4%;
                width: 25px;
                height: 25px;
                background-color: white;
                border-radius: 80px;
                border: solid 6px rgb(79, 192, 104, );
                box-shadow: 0 4px 12px rgba(0, 0, 0, .16), 4px 8px 28px rgba(0, 0, 0, .08);

            }
        }
    }
}



#text {
    width: 160px;
    height: 27px;
    margin-left: 27px;

    .textbutton {
        display: flex;
        width: 100%;
        height: 100%;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-evenly;
        background-color: transparent;
        border: transparent;
    }
}


.char-story {
    display: flex;

    width: 820px;
    height: 270px;

    .title {
        color: rgb(79, 192, 104);
        ;
        width: 800px;
        height: 20px;

        display: flex;
        align-items: center;
        margin-bottom: 10px;

        .mania {
            font-weight: bold;
            border-right: 1px solid #dfdfdf;
            font-size: 14px;
            position: relative;
            padding-right: 5px;
            margin-right: 5px;

        }

        .avg {
            font-size: 12px;
            padding-left: 5px;
        }
    }

    width: 805px;
    height: 242px;

    ul {

        .top {

            height: 102px;
            padding: 15px 0px 0px 27px;
            border-radius: 30px;
            border: 1px #dfdfdf solid;
        }

        .bottom {
            border-radius: 30px;
            border: 1px #dfdfdf solid;
            height: 130px;
            margin-top: 10px;
        }
    }
}

.percent,
.time {
    color: #8b8b8b;
    display: flex;
    align-items: center;
    font-size: 14px;

    img {
        width: 20px;
        height: 20px;
    }

    .line-desc {
        border-right: 1px solid #dfdfdf;
        position: relative;
        padding-right: 5px;
        margin-right: 5px;
        font-weight: bold;
        font-size: 13px;
    }

    p {
        font-size: 11px;
    }
}

.bottom {
    padding: 20px 30px 0 27px;
    line-height: 22px;

    ul {
        li {
            display: flex;
            font-size: 13px;
            color: #8b8b8b;

            p {
                font-size: 14px;
                font-weight: bold;
                color: #8b8b8b;
                border-right: 1px solid #dfdfdf;
                position: relative;
                padding-right: 5px;
                margin-right: 5px;
            }
        }
    }
}
