@charset "utf-8";

#user-contain-book{
    width: 1250px;
    margin: 0 auto;

    padding: 25px;
    overflow: hidden;
    .user-contain-book{
       
        ul{
            width: 110%;
            
            margin-top: 20px;
            display: flex;
            li{
               
                margin-right: 10px;
                img{
                    width: 150px;
                    margin-bottom: 10px;
                }
                h4{
                    font-size: 14px;
                    margin-bottom: 5px;

                }
                h6{
                    color: #6f6f6f;
                }
            }
        }
    }
}