@charset "UTF-8";

@import "../main-scss/reset","book-intr","booktotal","book-history","intro","review","banner","contain-book";



@font-face {
    font-family: 'SpoqaHanSansNeo-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body{
    font-family: 'SpoqaHanSansNeo-Regular';
}
header {
    cursor: pointer;
   border-bottom: solid 1px #dfdfdf;
    width:100%;
    height: 64px;
    #headersize{
        width: 1250px;
    height: 64px;

    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.5px solid #dfdfdf;

    nav {
        display: flex;
        width: 100%;
        justify-content: flex-start;
       padding: 10px;
       margin-right: 50px;
    }

    ul {
        display: flex;
        justify-items: space-evenly;
        width: 450px;
        height: 25px;

        justify-content: space-evenly;
        padding: 0px 24px;

        li {
            font-size: 16px;
            color: #242424;
           padding: 0px 10px 0px 10px;
           font-weight: bold;
        }
        li:hover{cursor: pointer; } }

    button {
        cursor: pointer;
        background: #333;
        border-radius: 100px;
        padding: 5px 15px;
     
        font-size: 12px;
        line-height: 18px;
        letter-spacing: -.6px;
        color: #fff;
        text-align: center;
        width: 93px;
        height: 31px;
        font-size: 12px;
    }
    padding-right: 20px;
    #join {
        display: flex;
        width: 154px;
        align-items: center;
        justify-content: space-around;
        margin-right: 15px;
    }
    .logo {
        img {
            width: 56px;
            height: 24px;
    
        }
    
        padding-left: 20px;
    
       
    }
    
}
}
