@charset "utf-8";

#best_seller {
    @include wh($w: 100%, $h: 2200px);
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    #text_box {
        transform: translateY(50px);
        opacity: 0;
        transition: 2s;
    
        h2 {
            font-size: $h2_fs;
            color: #242424;
            margin: 24px;
        }

        p {
            font-size: $p_fs;
            color: #555555;
        }
    }
    #sellerlist {
      width: 100%;
        margin: 0 auto;
   
    }
.bestbooks_texts{
    
    @include margin($top:16px);
    @include padding($top:24px);
}
   .bestbooks_box{
    width: 1250px;
    margin: 0 auto;
ul{width: 100%;
    height: 327px;
    display: flex;
    justify-content: space-between;
    li{
        width: 13.2%;
    padding: 16px 10px 0px 7px;
      h6{font-size: 14px; color:#6f6f6f; margin-top: 3px;}
      h3{font-size: 16px; color: #000000;margin-top: 3px;}
    }
}
}
   

    .bestbooks_texts {
        width: 1250px;
        
        margin: 0 auto;
        strong {
           
            
            text-align: left;
            display: block;
            font-weight: 700;
            font-size: 20px;
            line-height: 28px;
            color: #242424;
            margin-bottom: 16px;
            padding: 0 24px;
        }

    }

}
